<!-- 搜索结果页 -->
<div class="container">
<!-- 搜索结果页 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title" id="total">共xx本</h4>
  </div>
  <div class="panel-body">
  	<div class="row search-box">
    
      <div class="col-lg-1 col-lg-offset-2"></div>
      <div class="col-lg-7">
        <input id="isbn" type="text" class="col-*-12  form-control" placeholder="扫码输入ISBN" readonly>
      </div>
  	</div>
    <hr>

    <ul id="pagination" class="pagination pagination-lg">
      <!--   <li data='-1'>&laquo;</li>
        <li data='1'>1</li>
        <li data='2'>2</li>
        <li data='-2'>&raquo;</li> -->
    </ul>

    <div id="book-list" class="row search-result">
      <div class="inline_block flip-container">
          <div class="flipper cleanfix" >
            <a href="/borrow?isbn=123456789">
                <div class="front">
                  <img class="img-thumbnail" src="images/default.jpg" alt=""/>
                </div>
                <div class="back">
                  <p>ISBN:</p>
                  <p>书名</p>
                  <p>作者</p>
                  <p>
                    出版社
                    <strong class="pull-right">共2本</strong>
                  </p>
                </div>
            </a>
          </div>
      </div> 
     
    </div>
  </div>
</div>
{{>footer}}
</div>
<script type="text/javascript">
    var pageData = {
        /* 当前页号 */
        page:1,
        /* 一页60条数据 */
        onePage:60,
        // 不同isbn书的总量
        typeTotal:undefined,
        // 全部书的总数量
        total:undefined
    }

    $(document).ready(function(){
        if (pageData.total == undefined) {
            getTotalBooks()
        }
        getBookList(pageData.page)
    })

    // 获取图书总量
    function getTotalBooks(){
        $.ajax({
            type:"post",
            url:"/list/getTotal",
            success:function(data,status){
                // console.log(data)
                if (!data.total) {
                    alert("获取图书数量失败")
                }
                pageData.typeTotal = data.typeTotal
                pageData.total = data.total

                $("#total").html(`共  ${pageData.typeTotal} 部，${pageData.total}本`)
            },
            error:function(error){
                console.log("getTotalBooks error ", error)
                alert(error)
            }
        })
    }

    // 获取图书信息
    function getBookList(page){
        // console.log("in getBookList ",page)
        $.ajax({
            type:"post",
            url:"/list/getInfo",
            data:{page:page},
            success:function(data,status){
                // 获取数据失败
                if (data.err) {
                    alert("获取书籍信息失败")
                    return
                }
                // 填充图书数据
                fillBookList(data)
                // 设置分页
                setPagination(page)
            },
            error:function(err){
                console.log("ajax getBookList error")
                alert(err)
            }
        })
    }

    function fillBookList(data,start){
        html = ""
        for (var i = 0; i < data.length; i++) {
            html +=`<div class="inline_block flip-container">
              <div class="flipper cleanfix" >
                <a href="/borrow?isbn=${data[i].isbn}">
                    <div class="front">
                      <img class="img-thumbnail" src="images/${data[i].cover_img}" alt="${data[i].title}"/>
                    </div>
                    <div class="back">
                      <p>ISBN:${data[i].isbn}</p>
                      <p>${data[i].title}</p>
                      <p>${data[i].author}</p>
                      <p>
                        ${data[i].publisher}
                        <strong class="pull-right">共 ${data[i].totalNum} 本</strong>
                      </p>
                    </div>
                </a>
              </div>
          </div>` 
        }
        $("#book-list").html(html)
    }


    /* 设置分页 */
    function setPagination(page){
        /* 尚未创建分页 */
        // console.log($("#pagination").children('li').length)
        if (0 == $("#pagination").children('li').length) {
            createPagination()
            return
        }
        // console.log("page : ",page)
        pageData.page = page;
        var $target = $($("#pagination").children('li')[page])

        $target.attr("class","active").siblings(".active").attr("class","")
    }

    function createPagination(){
        if (!pageData.typeTotal || pageData.typeTotal <= pageData.onePage) 
            return
        // console.log("in createPagination")
        var num = Math.ceil(pageData.typeTotal / pageData.onePage)

        var html = `<li data='-1'><a href="#">&laquo;</a></li>`
        for (var i = 1; i <= num; i++) {
            if (i == 1) {
                html += `<li data='${i}' class='active'><a href="#">${i}</a></li>`    
            }
            else{
                html += `<li data='${i}'><a href="#">${i}</a></li>`    
            }
        }
        html += `<li data='-2'><a  href="#">&raquo;</a></li>`
        // console.log(html)
        $("#pagination").html(html)
    }

    $("#pagination").on("click",function(event){
        $target = $(event.target).parent()
        if(!$target.hasClass('active')) {
            var nowPage = parseInt($(this).children(".active").attr("data"))
            var newPage = $target.attr("data")
            // 前一页
            if (newPage == -1) {
                if (nowPage > 1) {
                    newPage = nowPage-1
                }
                else{
                    return
                }
            }
            // 后一页
            else if (newPage == -2) {
                // 未到最后一页
                if (nowPage * pageData.onePage < pageData.typeTotal) {
                    newPage = nowPage + 1
                }
                else{
                    return
                }
            }
            getBookList(newPage)
        }
    })
</script>