<!-- body -->
<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">馆藏书目检索</h4>
    </div>
    <div class="panel-body">
      <div class="row search-box">
        <div class="col-lg-7">
          <div class="input-group">
            <input id="content" type="text" class="form-control">
            <span class="input-group-btn">
              <button id="search-btn" class="btn btn-default" type="button">GO！</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</div>